*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
} 

html{
    font-size: 93.75%;
    font-family: 'Montserrat', sans-serif;
    scroll-behavior: smooth;
}

/* ----------------Header--------------------------- */

header{
    height: 500px;
    margin-bottom: 30px;
}

.cabeçalho{
    background-color:#180E0C;
    position: fixed;
    top: 0;
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 2;
}

.logo{
    width: 15%;
    margin-left: 3rem;
}

ul{
    display: flex;
}

header nav li{
    list-style: none;
    margin-right: 2rem;
}

header a{
    text-decoration: none;
    font-size: 1rem;
    font-weight: 700;
    color: white;
    padding: 0.6rem;
    transition: 2ms;
}

header a:hover{
    background-color: rgb(58, 219, 219);
    padding: 0.6rem;
    border-radius: 0.3rem;
} 

#portada{
    margin-top: 4rem;
    height: 90%;
    width: 100%;
    opacity: 0.8;
    z-index: -1;
}

/* ---------------Main------------------------- */

/* -------------Aside-------------------- */

aside{
    margin:4rem 0;
    width: 100%;
    height: 400px;
    display: flex;
    justify-content: space-evenly;  
}

.card h2{
    margin: 1.5rem 0;
    color: rgb(15, 13, 13);
    font-size: 1.5rem;
}

aside .card{
    width: 21%;
    height: 100%;
}

.img-card{
    width: 100%;
    height: 60%;
}

.img-card img{
    width: 100%;
    height: 100%;
} 

.card p{
    color: rgb(15, 13, 13);
    font-size: 1rem;

}

/* ------------article---------------- */

.lugares{
    width: 100%;
    height: 500px;
    padding: 4rem 0;
    background-color:rgb(39, 21, 16);
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
    color: #37201A;
}

.lugares h2, #QuemSomos h2{
    color:#C27159;
    font-size: 1.5rem;
}

.lugares p{
    font-size: 1rem;
    color: #7A503E;
}

.sec-lugares-letf{
    width: 21%;
    height: 100%;
}

.sec-lugares-letf div{
    display: flex;
    height: 20%;
    align-items: center;
    margin-top: 2rem;
}

.sec-lugares-letf div img{
    margin-right: 0.8rem;
    width: 26%;
    height: 100%;
}

.sec-lugares-right{
    width: 45%;
    height: 100%;
}

.sec-lugares-right img{
    margin-top: 2rem;
    width: 100%;
    height: 45%;
}

.sec-lugares-right p{
    margin-top: 1.5rem;
    font-size: 1rem;
}

/* ---------Section Quem Somos------------ */

.QuemSomos{
    width: 100%;
    height: 500px;
    padding: 4rem 0;
    background-color:  rgb(31, 19, 15);
    display: flex;
    justify-content: space-evenly;
    color:  rgba(116, 79, 68, 0.733);
}

.letf .parrafo{
    color: #C27159;
}

.letf{
    width: 60%;
}

.letf p{
    color: #7A503E;
}

.letf p, .right p{
    margin-top: 2rem;
    font-size: 1rem;
}

.right{
    width: 30%;
}

.right p{
    line-height: 0.5rem;
    text-decoration: underline;
    color: #7A503E;
}

.right h2{
    color: #C27159;
}

/* -------------Footer------------- */

footer{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 64px;
    background-color: #180E0C;
    color:  #7A503E;
    font-size: 0.8rem;
    font-weight: 600;
}

.ele-menu.on{
    background-color: rgb(58, 219, 219);
    border-radius: 0.3rem;
}


@media(max-width: 600px){

    html{
        font-size:  87.5%; 
    }

    header{
        height: 300px;
        margin-bottom: 30px;
    }
    
    .logo{
        width: 30%;
        margin-left: 3rem;
    }

    #portada{
        margin-top: 8rem;
        height: 60%;
        width: 100%;
        opacity: 0.8;
        z-index: -1;
    }

    aside{
        height: 550px;
        display: grid;
        grid-template-columns: 40% 40%;
        gap: 1rem 0;
    }

    aside .card{
        width: 100%;
        height: 50%;
        margin-bottom: 1rem;
    }

    .card h2{
        margin: 1.5rem 0;
        color: rgb(15, 13, 13);
        font-size: 1.2rem;
    }

    .card p{
        font-size: 0.8rem;
    }

    .lugares{
        width: 100%;
        display: flex;
        flex-direction: column;
        height: 1400px;
        align-items: center;
    }

    .sec-lugares-letf{
        width: 80%;
        height: 30%;
    }

    .sec-lugares-right{
        width: 80%;
        height: 30%;
    }

    .QuemSomos{
        height: 1200px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .QuemSomos h2{
        margin-top: 2rem;
    }

    .letf, .right{
        width: 80%;
        
    }

    nav{
        display: none;
    }

    .menu-toggle{
        width: 40px;
        height: 30px;
        margin-right: 20px;
    }

    .one, .two, .three{
        background-color: #fff;
        height: 5px;
        width: 100%;
        margin: 6px auto;
        transition-duration: 0.3s;
    }

    /* -------fullscreen--------- */

    .menu-section.on{
        position: absolute;
        top:0;
        left: 0;
        width: 100vw;
        height: 100vh;

        background-color: rgb(17, 9, 8);

        display: flex;
        align-items: center;
        justify-content: center;

        z-index: 10;
    }    

    .menu-section.on nav{
        display: block;
    }

    .menu-section.on .menu-toggle{
        position: absolute;
        right: 0;
        top: 40px;
    }

    .menu-section.on .menu-toggle .one{
        transform: rotate(45deg) translate(7px, 7px);
    }

    .menu-section.on .menu-toggle .two{
        opacity: 0;
    }

    .menu-section.on .menu-toggle .three{
        transform: rotate(-45deg) translate(8px, -9px);
    }

    .menu-section.on nav ul{
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .menu-section.on nav ul li{
        margin: 0;
    }

    .menu-section.on nav ul a{
        transition-duration: 0.5s;
        font-size: 1.5rem;
        line-height: 4rem;
        display: block;
        padding:0 1rem;
    }


}








